<!-- To-Do Button im Header-Stil -->
<button class="nav-button" (click)="togglePopup()">+ To-Do</button>

<!-- Popup-Fenster -->
<div class="todo-popup" *ngIf="visible">
  <!-- Schließen-Button oben rechts -->
  <button class="close-button" (click)="togglePopup()">×</button>

  <h3>Meine To-Dos</h3>

  <input [(ngModel)]="newTodo" placeholder="Neues To-Do" />
  <button class="todo-create-button" (click)="addTodo()">Erstellen</button>

  <ul>
    <li *ngFor="let todo of todos; let i = index">
      <button class="check-circle" (click)="toggleDone(i)">
        <span *ngIf="todo.done">&#10003;</span>
      </button>

      <span [class.done]="todo.done">{{ todo.text }}</span>

      <button *ngIf="todo.done" class="delete-button" (click)="deleteTodo(i)">Löschen</button>
    </li>
  </ul>
</div>