<!-- Button erscheint nur, wenn der User eingeloggt ist -->
<button *ngIf="authService.isLoggedIn$ | async" class="nav-button" (click)="togglePopup()">
  To-Do
</button>

<div class="todo-popup" *ngIf="visible">
  
  
  <button class="close-button" (click)="togglePopup()">×</button>

  <h3>Meine To-Dos</h3>

  
  <input [(ngModel)]="newTodo" placeholder="Neues To-Do" />

  
  <button class="todo-create-button" (click)="addTodo()">Erstellen</button>

  <ul>
    
    <li *ngFor="let todo of todos; let i = index">
      
      
      <button class="check-circle" (click)="toggleDone(todo)">
        <span *ngIf="todo.done">&#10003;</span> <!-- Haken anzeigen -->
      </button>

      <!-- Text des To-Dos, durchgestrichen wenn fertig -->
      <span [class.done]="todo.done">{{ todo.text }}</span>

      <!-- Button zum Löschen, nur sichtbar wenn To-Do erledigt -->
      <button *ngIf="todo.done" class="delete-button" (click)="deleteTodo(todo)">
        Löschen
      </button>
      
    </li>
  </ul>
</div>