* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: auto;
    overflow: auto;
    background: linear-gradient(45deg, #b4b5c3, #444244);
    font-family: Helvetica, sans-serif;
    color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .top-section {
    display: flex;
    flex: 0.75; /* Nutzt den ganzen Platz */
  }

  .left-section,
  .middle-section,
  .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Untere Section wird an den unteren Rand gesetzt */
  .under-section {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    font-size: 1.2rem;
    z-index: 1;
  }

  /* Flashcard Container */
  .middle-section {
    perspective: 1220px;
  }
  
  .card {
    height: 500px;
    width: 750px;
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
    z-index: 9999;
    overflow: visible;
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  
  .front {
    background-color: #3a3a3a;
  }
  
  .back {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
  }
  
  /* Navigation Arrows */
  .left_arrow,
  .right_arrow {
    width: 100px;
    height: 100px;
    opacity: 0.5;
    transition: 0.5s;
    position: relative;
  }
  
  .left_arrow {
    border-left: 10px solid #fff;
    border-bottom: 10px solid #fff;
    transform: rotate(45deg);
  }
  
  .right_arrow {
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    transform: rotate(45deg);
  }
  
  /* Klick-Animation */
  .clicked {
    opacity: 1 !important;
  }
  
  .left_arrow.clicked {
    transform: translateX(-30px) rotate(45deg) !important;
  }
  
  .right_arrow.clicked {
    transform: translateX(30px) rotate(45deg) !important;
  }
  .under-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b4b5c3;
    height: 50px;
  }
  
  .progress {
    position: relative;
    width: 500px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress__fill {
    width: 0%;
    height: 100%;
    background: rgb(84, 83, 83);
    transition: all 0.2s;
  }
  
  .progress__text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 14px "Quicksand", sans-serif;
    color: #000000;
  }
  
  .button-wrong-div {
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;	
    margin-right: 30px;
    margin-bottom: 5px;
  }
  
  .button-right-div {
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    border: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 5px;
  }
  
  .button-wrong {
    background: #b4b5c3;
    border: none;
    color: rgb(84, 83, 83)
  }
  
  .button-right {
    background: #b4b5c3;
    border: none;
    color: rgb(84, 83, 83)
  }
  
  button.button-right:active h1 {
    transform: scale(1.2);
    color: white; /* Weiß beim Klicken */
  }
  
  button.button-wrong:active h1 {
    transform: scale(1.2);
    color: white; /* Weiß beim Klicken */
  }