<div class="card add-card" (click)="!showInput && toggleInput()">
  <ng-container *ngIf="!showInput">
    <span class="plus-icon">+</span>
  </ng-container>
  <ng-container *ngIf="showInput">
    <div class="form-wrapper" (click)="$event.stopPropagation()">
      <label for="addName">{{ labelName }}:</label>
      <input
        id="addName"
        type="text"
        [(ngModel)]="valueName"
        [placeholder]="placeholderName"
      />
      <label for="addDescription">{{ labelDescription }}:</label>
      <textarea
        id="addDescription"
        [(ngModel)]="valueDescription"
        [placeholder]="placeholderDescription"
      ></textarea>
      <div class="button-group-inline">
        <button
          (click)="submit(); $event.stopPropagation()"
          [disabled]="!valueName.trim()"
        >
          {{ buttonText }}
        </button>
        <button
          class="cancel-btn"
          (click)="cancel(); $event.stopPropagation()"
        >
          {{ cancelText }}
        </button>
      </div>
    </div>
  </ng-container>
</div>
